<section class="max-w-5xl mx-auto">
  <h3 class="text-center font-bold text-4xl sm:text-2xl md:text-4xl md:leading-tight sm:leading-tight">Most demanding
    jobs on the platform</h3>
  <section class="flex flex-row space-x-5 justify-center mt-10">

    <div class="w-48 border border-2 rounded-xl pt-28 pl-6 pr-6 pb-6 hover:bg-dark-blue hover:text-white">
      <p class="font-semibold mb-2">
        Design
      </p>
      <p class="text-sm">New 185 jobs posted</p>
    </div>

    <div class="w-48 border rounded-xl pt-28 pl-6 pr-6 pb-6 bg-light hover:bg-dark-blue hover:text-white">
      <p class="font-semibold mb-2">
        Web Dev
      </p>
      <p class="text-sm">New 185 jobs posted</p>
    </div>

    <div class="w-48 border rounded-xl pt-28 pl-6 pr-6 pb-6 bg-light hover:bg-dark-blue hover:text-white">
      <p class="font-semibold mb-2">
        Marketing
      </p>
      <p class="text-sm">New 185 jobs posted</p>
    </div>

    <div class="w-48 border border-2 rounded-xl pt-10 pl-6 pr-6 pb-6 bg-find">
      <img class="hero-img w-20 mb-4" src="../../assets/arrow.svg" />
      <p class="font-semibold mb-2 text-center">
        Find More
      </p>
    </div>

  </section>
</section>