<section class="hero-height margin-hero">
  <div>
  <h1 class="hero-title text-4xl sm:text-5xl md:text-7xl md:leading-tight sm:leading-tight" [innerText]="title">
  </h1>
  <h2 class="hero-title text-4xl sm:text-5xl md:text-7xl md:leading-tight sm:leading-tight" [innerText]="titletwo">
  </h2>
<p class="hero-p text-sm sm:text-md mt-5">
  Hire and manage talent globally with automated contracts <br/>and payroll. 100% compliance gaaranteed.
</p>
</div>
<div class="text-center mt-5">
<button class="btn-pri">Find boss</button>
<button class="btn-sec">Hire freelancer</button>
</div>
<img class="hero-img" src="../../assets/herobackground.svg" />
</section>