<div class="max-w-5xl mx-auto mt-36">
  <div class="text-center pl-10 pr-10">
    <h2 class="mb-5 text-3xl font-bold">
      The Fast Track To Your Next Job
    </h2>
    <p class="max-w-2xl mx-auto text-gray-p">
      Need a new job? We ensure that your step is forward and not backward. That's why our platform is free, as anyone should be able to find work. Get started now!
    </p>
  </div>
  <div class="pl-10 pr-10 mt-5 grid grid-rows-3 md:grid-rows-none md:grid-cols-3 gap-5">
<div class="">
  <img class="subhero-img" src="../../assets/png/howToGetStarted1.png"/>
  <div class="text-center">
    <p class="text-sm font-bold font-md">Create Your Account</p>
    <p class="text-gray-p text-sm pl-5 pr-5 mt-2">Build your reputation with an universal profile that works across hundreds of different emplyers</p>
  </div>
</div>

<div class="">
  <img class="subhero-img" src="../../assets/png/howToGetStarted2.png"/>
  <div class="text-center">
    <p class="text-sm font-bold font-md">Find Relevant Job</p>
    <p class="text-gray-p text-sm pl-5 pr-5 mt-2">Build your reputation with an universal profile that works across hundreds of different emplyers</p>
  </div>
</div>

<div class="">
  <img class="subhero-img" src="../../assets/png/howToGetStarted3.png"/>
  <div class="text-center">
    <p class="text-sm font-bold font-md">Contact Company</p>
    <p class="text-gray-p text-sm pl-5 pr-5 mt-2">Build your reputation with an universal profile that works across hundreds of different emplyers</p>
  </div>
</div>
</div>
</div>

